In [82]:
# Data
company_detail_list = [
    {
      'name': 'Company 1',
      'domain': 'Retail',
      'country': 'United States'
    },
    {
      'name': 'Company 2',
      'domain': 'Technology',
      'country': 'United Kingdom'
    },
    {
      'name': 'Company 3',
      'domain': 'Healthcare',
      'country': 'United States'
    }
]

employee_detail_list = [
    {
      'name': 'EMP-0001',
      'first_name': 'John',
      'last_name': 'Doe',
      'full_name': 'John Doe',
      'company': 'Company 1',
      'nationality': 'Australia'
    },
    {
      'name': 'EMP-0002',
      'first_name': 'Tom',
      'last_name': 'Smith',
      'full_name': 'Tom Smith',
      'company': 'Company 2',
      'nationality': 'United States'
    },
    {
      'name': 'EMP-0003',
      'first_name': 'Andrew',
      'last_name': 'Sebastian',
      'full_name': 'Andrew Sebastian',
      'company': 'Company 3',
      'nationality': 'United States'
    },
    {
      'name': 'EMP-0005',
      'first_name': 'Ying Han',
      'last_name': 'Tan',
      'full_name': 'Ying Han Tan',
      'company': 'Company 1',
      'nationality': 'Australia'
    },
    {
      'name': 'EMP-0015',
      'first_name': 'Kenneth',
      'last_name': 'Ng',
      'full_name': 'Kenneth Ng',
      'company': 'Company 3',
      'nationality': 'United States'
    },
    {
      'name': 'EMP-0018',
      'first_name': 'Rubby',
      'last_name': 'Lee',
      'full_name': 'Rubby Lee',
      'company': 'Company 2',
      'nationality': 'Hong Kong'
    },
    {
      'name': 'EMP-0017',
      'first_name': 'Robert',
      'last_name': 'White',
      'full_name': 'Robert White',
      'company': 'Company 1',
      'nationality': 'United Kingdom'
    }
]

### Task 1

In [83]:
# Expected result
# [
#     {
#         "name": "Company 3"|
#     }, 
#     {
#         "name": "Company 2"
#     }, 
#     {
#         "name": "Company 1"
#     }
# ]

In [84]:
result_task1 = []
for company in company_detail_list:
    result_task1.append({ "name": company['name'] })

result_task1.reverse()

result_task1

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

### Task 2

In [85]:
# Expected Result
# Company 1: Retail (United States)
# Company 2: Technology (United Kingdom)
# Company 3: Healthcare (United States)

In [86]:
for company in company_detail_list:
    print(f"{company["name"]}: {company["domain"]} ({company["country"]})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

### Task 3

In [87]:
# Expected return
# {
#     "Retail": [
#          "John Doe",
#          "Robert White",
#          "Ying Han Tan"
#      ],
#     "Technology":[
#           "Tom Smith",
#           "Rubby Lee",
#      ],
#     "Healthcare": [
#          "Kenneth Ng",
#          "Andrew Sebastian"
#      ],
# }

In [88]:
employee_work = {}

for company in company_detail_list:
    name_list = []
    for employee in employee_detail_list:
        if employee["company"] == company["name"]:
            name_list.append(employee["full_name"])
    employee_work[company["domain"]] = name_list

employee_work

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

### Task 4

In [89]:
# Expected return
# [
#     {
#         "full_name": "John Doe",
#         "company": "Company 1",
#         "country": "United States"
#     }, 
#     {
#         "full_name": "Tom Smith",
#         "company": "Company 2",
#         "country": "United Kingdom"
#     }, 
#     {
#         "full_name": "Andrew Sebastian",
#         "company": "Company 3",
#         "country": "United Kingdom"
#     },  
#     {
#         "full_name": "Ying Han Tan",
#         "company": "Company 1",
#         "country": "United States"
#     },  
#     {
#         "full_name": "Kenneth Ng",
#         "company": "Company 3",
#         "country": "United States"
#     },  
#     {
#         "full_name": "Rubby Lee",
#         "company": "Company 2",
#         "country": "United Kingdom"
#     },   
#     {
#         "full_name": "Robert White",
#         "company": "Company 1",
#         "country": "United States"
#     }, 
# ]

In [90]:
# Function
result_task4 = []

def country_by_company(employee):
    country = ""

    for company in company_detail_list:
        if employee["company"] == company["name"]:
            country = company["country"]
    
    return {
        "full_name": employee_list["full_name"],
        "company": employee_list["company"],
        "country": country
    }
    
for employee_list in employee_detail_list:
    employee = country_by_company(employee_list)

    result_task4.append(employee)

result_task4

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

### Task 5

In [91]:
# Expected return
# [
#     {
#         "company": "Company 1",
#         "employee_nationality": {
#             "Australia": 2,
#             "Hong Kong": 1
#         }
#     }, 
#     {
#         "company": "Company 2",
#         "employee_nationality": {
#             "Hong Kong": 1,
#             "United States": 1
#         }
#     }, 
#     {
#         "company": "Company 3",
#         "employee_nationality": {
#             "United States": 2
#         }
#     }
# ]

In [92]:
result_task5 = []

def country_count_in_company(company):
    nationality = {}

    for employee in employee_detail_list:
        if(employee["company"] == company["name"]):
            if employee["nationality"] in nationality:
                nationality[employee["nationality"]] += 1
            else:
                nationality[employee["nationality"]] = 1
            
    return {
        "company": company["name"],
        "employee_nationality": nationality
    }

for company_list in company_detail_list:
    company = country_count_in_company(company_list)

    result_task5.append(company)

result_task5

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]